USE [websiteblogDB]
GO
/****** Object:  Table [dbo].[ILETISIM]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ILETISIM](
	[ILETISIM_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ADRES] [nvarchar](150) NULL,
	[MAIL] [nvarchar](50) NULL,
	[TELEFON] [nvarchar](20) NULL,
 CONSTRAINT [PK_ILETISIM] PRIMARY KEY CLUSTERED 
(
	[ILETISIM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarih]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarih](
	[Tarihid] [smallint] IDENTITY(1,1) NOT NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_Tarih] PRIMARY KEY CLUSTERED 
(
	[Tarihid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULLANICI] [nvarchar](20) NULL,
	[SIFRE] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDENEYIM]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDENEYIM](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BASLIK] [nvarchar](50) NOT NULL,
	[ALTBASLIK] [nvarchar](50) NOT NULL,
	[ACIKLAMA] [nvarchar](1000) NOT NULL,
	[TARIH_ID] [smallint] NOT NULL,
 CONSTRAINT [PK__TBLDENEY__3214EC276C374E17] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLEGITIM]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLEGITIM](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BASLIK] [nvarchar](50) NOT NULL,
	[ALTBASLIK] [nvarchar](50) NOT NULL,
	[ACIKLAMA] [nvarchar](250) NOT NULL,
	[TARIH_ID] [smallint] NOT NULL,
 CONSTRAINT [PK__TBLEGITI__3214EC2717CA7262] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAKKIMDA]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAKKIMDA](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[KISANOT] [text] NULL,
	[FOTOGRAF] [varchar](100) NULL,
	[ILETISIM_ID] [smallint] NULL,
 CONSTRAINT [PK_TBLHAKKIMDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHOBILER]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHOBILER](
	[ID] [smallint] NULL,
	[HOBI] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKONFERANS]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKONFERANS](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ODUL] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLYETENEK]    Script Date: 6.01.2022 14:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLYETENEK](
	[ID] [smallint] NULL,
	[YETENEK] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLDENEYIM]  WITH CHECK ADD  CONSTRAINT [FK_TBLDENEYIM_Tarih] FOREIGN KEY([TARIH_ID])
REFERENCES [dbo].[Tarih] ([Tarihid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLDENEYIM] CHECK CONSTRAINT [FK_TBLDENEYIM_Tarih]
GO
ALTER TABLE [dbo].[TBLEGITIM]  WITH CHECK ADD  CONSTRAINT [FK_TBLEGITIM_Tarih] FOREIGN KEY([TARIH_ID])
REFERENCES [dbo].[Tarih] ([Tarihid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLEGITIM] CHECK CONSTRAINT [FK_TBLEGITIM_Tarih]
GO
ALTER TABLE [dbo].[TBLHAKKIMDA]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAKKIMDA_ILETISIM] FOREIGN KEY([ILETISIM_ID])
REFERENCES [dbo].[ILETISIM] ([ILETISIM_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLHAKKIMDA] CHECK CONSTRAINT [FK_TBLHAKKIMDA_ILETISIM]
GO
